taskcat_outputs/*
.taskcat/.remote_templates/cdlidxizlkkkkjzd.template
.taskcat/.remote_templates/hdmyztaylcdnyxds.template
.taskcat/.remote_templates/iadxukmszkaphyan.template
.taskcat/.remote_templates/itcklnksyzllylps.template
.taskcat/.remote_templates/ivawhkjdykkvraie.template
.taskcat/.remote_templates/jmluhdkmomsogrne.template
.taskcat/.remote_templates/mdanuqwszzfxjtup.template
.taskcat/.remote_templates/opqvqucptalwjino.template
.taskcat/.remote_templates/sqczjjnfqleimlth.template
